.center{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: xx-large;
    font-family: cursive;
}

.skill{
    
    font-size: x-large;
    margin-left: 45%;
}

.last-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding: 2%;
}

